// Customizations Here (Optional)

// Bulma Import
@import '~bulma';
@import '~bulma-tooltip';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background: #efefef !important;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 130vh;
  }
  
  #app, #app-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
.unselectable {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.pointer {
    cursor: pointer;
}