// Customizations Here (Optional)

// Bulma Import
@import '~bulma';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background: #414141 !important;
    font-family: 'Roboto', sans-serif;
}

html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}